.container {
  //   padding: 15px 0;

  .list {
    margin: 15px 0;

    .claim-item {
      .head {
        .status {
          float: right;
          margin: 0 10px;
        }

        .actions {
          float: right;
        }

        .name {
        }
      }

      .claimContent {
        height: 180px;
        overflow-y: auto;
        white-space: pre-wrap;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;
  }

  .nodata {
    padding: 15px 0;
    text-align: center;
  }
  .reason {
    padding: 24px;
    font-size: 14px;
  }

  .reasonText {
    text-align: justify;
  }
}
