@card-width: 362px;

.container {
    margin: 10px;
    width: @card-width;
}

.cardCover {
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.titleNo {
    position: absolute;
    bottom: 0;
    width: @card-width;
    text-align: center;
}

.card {
    // width: @card-width;
}

.cardHead {
    // display: flex;
    // justify-content: space-between;
    position: relative;
    height: 24px;

    .right {
        position: absolute;
        right: 0;
        top: 0;

        .proposalAmount {
            height: 40px;
            line-height: 1;
            padding: 6px 12px;
            background-color: #29CC7A;
            color: #fff;
            border-radius: 6px;
        }
    }
}

.title {
    margin: 5px 0 !important;
    padding: 0 !important;
    height: 64px;
}

.summary {
    line-height: 1.5;
    height: 56px;
    margin-bottom: 0;
}

.creator {
    margin: 10px 0 0 0;
    
}

.byCreator {
    margin-left: 10px;
}

