@cover-width: 200px;
@cover-height: 200px;

// 修改提案 button
.actionsBtn {
  margin-bottom: 10px;
  margin-right: 10px;
}

.container {
  // margin: 0 auto;

  :global {
    .ant-tabs-nav-wrap {
      background-color: #fff;
    }
  }
}

.summaryCard {
  display: flex;
  // height: @cover-height;
  background-color: #fff;
  padding: 20px;
  // justify-content: center;
}

.cardCover {
  position: relative;
  min-width: @cover-width;
  height: @cover-height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.summaryContent {
  padding: 0 15px;
  background-color: #fff;
  width: 100%;
  white-space: pre-line; // support break line

  

  .category {
    // font-size: 12px;
    margin: 6px 0;
  }

  .summaryText {
    margin: 15px 0;
  }
}

.titleNo {
  position: absolute;
  bottom: 0;
  width: @cover-width;
  text-align: center;
  color: #fff;
}

// .cardHead {
//     display: flex;
//     justify-content: space-between;
// }

.cardHead {
  // display: flex;
  // justify-content: space-between;
  position: relative;

  .right {
    position: absolute;
    right: 0;

    .proposalAmount {
      height: 40px;
      line-height: 1;
      padding: 6px 12px;
      background-color: #29cc7a;
      color: #fff;
      border-radius: 6px;
    }
  }
}

.proposalTitle {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}

.subContainerStyle {
  // margin: 10px 0;
  background-color: #fff;

  .content {
    padding: 20px;
    background-color: #fff;
  }
}

.userList {
  margin: 30px 0;
  padding: 30px;
  background-color: #fff;
  height: 200px;
}

.userActive {
  margin: 30px 0;
  padding: 20px;
  background-color: #fff;
}

.user {
  display: flex;
  align-items: center;
}

.userTor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.weight{
  font-weight: bold;
  font-size: 18px;
  color: #29cc7a;
}
.weight2{
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.budget{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:medium #efefef dotted; 
  padding-bottom: 20px;
}

.createtime {
  font-size: 10px;
  margin: 0;
  color: #aaa;
}

.zq{
  font-size: 12px;
}

.tabs{
  margin:0;
}

.produce{
  padding: 15px 0;
  border-top:thin gray solid; 
}

.img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.Title{
  color: #000;
}

.products{
  color: gray;
  font-size: 12px;
}

.product{
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.describe{
  font-weight: bold;
  font-size: 20px;
  padding: 20px 10px;
}

.details{
  border: thin #efefef solid;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px;
}

.title{
  font-weight: bold;
  font-size: 20px;
}

.contend{
  margin-top: 10px;
  margin-bottom: 20px;
}

.userContent {
  margin-left: 10px;

  h3 {
    margin: 0;
  }
}

.detail {
  .subContainerStyle();
}

.comments {
  .subContainerStyle();
}

// proposal status
.status {
  margin-bottom: 6px;
  margin-right: 12px;
  display: inline-block;

  span {
    background-color: #ccc;
    color: #fff;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 5px;
  }

  .claiming {
    background-color: orange;
  }

  .success {
    background-color: green;
  }

  .fail {
    background-color: red;
  }
}
