.container {
  background-color: #f0f2f5;

  h3 {
    font-size: 14px !important;
  }

  .zone {
    display: flex;
    padding: 15px;
    align-items: center;

    .title {
      margin: 0;
    }
  }

  .filters {
    .category {
      .title {
        margin: 0;
      }

      .count {
        margin-left: 6px;
      }
    }

    .status {
      .title {
        margin: 0;
      }
    }

    .sort {
    }
  }
}
